#container {
	position: relative;
}

#container [aria-expanded="false"] + div {
	display: none;
}

#container div {
	position: absolute;
	top: 100%;
	left: 0;
	background: lightcoral;
	color: white;
	padding: 1em;
	margin: 1em;
}