#drawer {
	visibility: hidden;
	position: fixed;
	inset: 0 auto 0 0;
	background: rgb(66, 34, 47);
	padding: 10px;
	transform: translateX(-100%);
	transition: visibility 0s 500ms, transform 500ms;
}

#drawer.show {
	visibility: visible;
	transform: translateX(0);
	transition: visibility 0s, transform 500ms;
}